h3{
  margin-top: 100px;
  font-size: 30px;
  color: #ffda00;
}
h4{
  margin: 0 20px;
  font-size: 28px;
}
.App{
  text-align: center;
}
.Details {
  display: flex;
  justify-content: center;
 align-items: center;
}
